@use '../color' as color;

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
	$colors: (
		'white': #ffffff,
		'black': #000000,
		'primary': (
			'base': color.$primary-color,
		),
		'success': (
			'base': color.$success-color,
		),
		'warning': (
			'base': color.$warning-color,
		),
		'danger': (
			'base': color.$danger-color,
		),
		'error': (
			'base': color.$danger-color,
		),
		'info': (
			'base': color.$info-color,
		),
	)
);
